body {
    margin: 0;
    padding: 0;
  }
  
  /* 年賀状 */
  .card {
    width: 394px;
    height: 583px;
    border: 1px solid black;
    background: linear-gradient(45deg, #f8eb85, #fefcea);
    position: relative; 
  }

  /* タイトル */
.card-title {
    margin: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 60px;
    letter-spacing: 20px;
    font-family: "HGP行書体", serif;
    writing-mode: vertical-rl;
}

/* 印 */
.card-seal {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 250px;
    right: 130px;
    text-align: center;
    font-size: 30px;
    font-family: "HGP行書体", serif;
    color: red;
    border: 3px solid red;
    border-radius: 10px
}

.rising-sun {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#DF4554, #E16561);
    top: 230px;
    left: 100px;
    transform: rotate(-30deg);
}

.triangle-blue{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #75b8ff transparent;
}

.p-1 {
    border-width: 0 100px 200px 100px;
    top: 384px;
    left: -50px;
}

.p-2 {
    border-width: 0 100px 200px 100px;
    top: 384px;
    left: 30px;
}

.p-3 {
    border-width: 0 100px 200px 100px;
    top: 384px;
    left: 110px;
}


.p-4 {
    border-width: 0 80px 160px 80px;
    top: 310px;
    left: 93px;
}

.p-5 {
    border-width: 0 80px 160px 80px;
    top: 310px;
    left: 50px;
}

.p-6 {
    border-width: 0 80px 160px 80px;
    top: 310px;
    left: 7px;
}


.trapezoid {
    position: absolute;
    width: 56px;
    border-bottom: 90px solid white;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    height: 0;
    top: 280px;
    left: 57px;
}



.cloud {
    position: absolute;
	display: block;
	width: 90px;
	height: 70px;
	background-color: #ccc;
	border-radius: 50%;
    box-shadow: 20px 15px 0 -7px #ccc, -30px 20px 0 -15px #ccc, -30px -10px 0 -15px #ccc, 40px -10px 0 -15px #ccc;
}
/*, 20px -20px 0 -10px #ccc*/

.cloud-p-1{
    top: 350px;
    left: 100px;
}

.cloud-p-2{
    top: 400px;
    left: 250px;
}
.cloud-p-3{
    top: 450px;
    left: 0px;
}

img.position{
    position: absolute;
    width: 120px;
	height: 120px;
    top: 100px;
    left: 20px;
}


@page {
    size: 100mm 148mm;
    margin: 0;
}
@media screen {
    body {
        background: #eee;
    }
    .page {
        background: white;
        box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
        margin: 5mm;
                /* 一覧しやすいようにfloatさせる */
        float: left;
    }
}

.page {
    width: 100mm;
    height: 147mm;
    page-break-after: always;
        /* ページ上の配置を position: absolute で行うため */
    position: relative;
}
/* UAデフォルトのマージンを除去 */
html, body { margin: 0; padding: 0; }

